@font-face {
  font-family: "ZENTRY";
  src: url("../font/ZENTRY-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "Roobert-Regular";
  src: url("../font/Roobert-Regular.woff2") format("woff2");
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.4);
  border-radius: 8px;
  margin: 2px;
}

::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 8px;
  border: 2px solid rgba(255, 255, 255, 0.1);
  background-clip: padding-box;
  transition: all 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(226, 226, 226);
  background-size: 200% 200%;
  background-position: right bottom;
}

.section_default{
  height: 15vh;
  width: 100vw;
}

/* --------------------------------- */

body {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: black;
}

nav {
  position: fixed;
  width: 100%;
  z-index: 999;
}
nav .logo {
  width: 2vw;
  height: auto;
  padding: 1%;
  float: left;
}
nav .menu {
  width: 3vw;
  height: auto;
  filter: invert(1);
  padding: 0.7%;
  float: right;
}

header {
  width: 100%;
  height: 100vh;
  display: flex;
  place-items: center;
  place-content: center;
  position: relative;
  overflow: hidden;
}
.heroe-text {
  position: absolute;
  color: white;
  opacity: 0.8;
  mix-blend-mode: difference;
  animation: fadeInH1 3s forwards;
}
header h1 {
  font-family: "ZENTRY", monospace;
  font-size: 25em;
  margin: 0;
  word-spacing: 0.2em;
}
header p {
  font-family: "Roobert-Regular", monospace;
  font-size: 2.5em;
  margin: 0;
  transform: translateY(1em);
}
.heroe-logo {
  height: auto;
  width: 0.77em;
}
.heroe-bg-canvas {
  width: 100%;
  height: auto;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}
header canvas {
  display: block;
}
header video {
  height: 100vh;
  min-width: 100%;
  height: auto;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -2;
}
.gradient {
  height: 5%;
  width: 100%;
  background: rgb(0, 0, 0);
  background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 50%);
  z-index: 2;
  position: absolute;
  bottom: 0;
}

@keyframes fadeInH1 {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.8;
  }
}
.fade-out {
  animation: fadeOut 3s forwards;
}
.fade-in {
  animation: fadeIn 3s forwards;
}
@keyframes fadeOut {
  from {
    opacity: 0.8;
    scale: 1;
  }
  to {
    opacity: 0;
    scale: 0.5;
    transform: translateY(250%);
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
    scale: 0.5;
    transform: translateY(0%);
  }
  to {
    opacity: 0.8;
    scale: 1;
  }
}

/* -------- ABOUT US -------- */
.tamaño_h2{
  font-size: 8em;
  margin-left: -70%;
  font-family: "ZENTRY";
}
.draggable {
  display: inline-block;
  cursor: grab;
  font-size: 0.9em;
  font-weight: bold;
  color: yellow;

}

.overlay {
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.096);  
  pointer-events: none; 
  z-index: 1;
  position: absolute;
}

.heroe_section_about{
  width:100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  overflow: hidden;
  scroll-behavior: smooth;
}
.aboutUs-h1img {
  width: auto;
  height: 50%;
  cursor: pointer;
}

.imagen_hero {
  height:100vh;
  width: 100%;
  object-fit: cover;
  object-position: center;
  position: absolute;
  z-index: -1;
  

}

.container_tittle{
  display: flex;
  align-items: center;
  justify-content: center;

  
}

.title{
  font-family: "ZENTRY", monospace;
  font-size: 15em;
  letter-spacing: 10px;
  line-height: 1em;
  color: #f8fe23;
  text-transform: uppercase;
  font-weight: bold;
  position: relative;
  bottom: 18%;
  height: auto;
 
}

.mini_tittle{
  font-family: "ZENTRY", monospace;
  font-size: 2em;
  letter-spacing: 5px;
  line-height: 2em;
  color: #f8fe23;
  position: absolute;
  bottom: 10%;
  
}

.aboutus-description {
  height: auto;
  width: 100%;
  background: rgb(41, 50, 61);
  background: linear-gradient(
    135deg,
    rgb(10, 20, 34) 0%,
    rgb(57, 32, 63) 100%
    
  );
  opacity: 0;
  scroll-behavior: smooth;
  margin-top: 10%;
}
.text-aboutus-description {
  width: 100%;
  height: 100%;
  color: white;
  display: flex;
  justify-content: left;
  align-items: center;
  margin-top: 10%;
  justify-content: center;
}
.aboutus-description h3 {
  font-family: "ZENTRY", monospace;
  font-size: 4em;
  margin-top: 40px;
  line-height: 1em;
}
.aboutus-description p {
  font-family: "Roobert-Regular", monospace;
  font-size: 1.3em;
  letter-spacing: 0.05em;
  line-height: 1.3em;
}
.lente-aboutus {
  width: 30%;
  height: auto;
  position: absolute;
  right: 20%;
  cursor: grab;
}
.lente-aboutus:active{
  cursor: grabbing;
}
#canvas-container {
  width: 100%;
  height: 100vh;
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.listas_desordenadas{
  padding-inline-start: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top:10px;
  list-style-type: none;
  height: auto;

}

.contenido_listas_desordenadas{
  margin-top: 45px;
  list-style-type: none;
    display: flex;
    justify-content: center;
   cursor: pointer;
    color: whitesmoke;
    font-family: "ZENTRY";
    font-size: 4.8em;
    width: 100%;
    height: 70vh;

   
}

.transform_li{
  transition: transform 0.5s ease;
  margin-top: 4em;
}

.transform_li:hover{
  transform: translate3d(50px, 20px, 50px); 
color: rgb(0, 217, 255);
}




@keyframes contenido_listas_desordenadas {
  0%   { transform: translateY(0); }
  30%  { transform: translateY(-15px); }
  50%  { transform: translateY(0); }
  70%  { transform: translateY(-7px); }
  100% { transform: translateY(0); }
}


.andreu{
  width: 100%;
  height: auto;
}

.style_descripciones{
  display: flex;
  flex-direction: column;
 width:auto;
 height: auto;
 margin-top: 4%;
 margin-left: 4%;

  
}

.h2_style_h2{
  font-family: "Zentry";
  color: rgb(255, 255, 255);
  font-size: 4em;
  height: 8px;
}
.descripcion_style_h2{
  font-family: 'Roobert-Regular';
  font-size: 1.2em;
  width: 56%;
  height: auto;
  color: white;
  letter-spacing: 0.5px;
  line-height: 1.3em;
}
.contenedor_1{
  padding: 10px;
  display: flex;
  justify-content: space-around;
  width: 95%;
  border-radius: 40px;
  background-color: rgb(241, 234, 234);
  height: 59vh;
  margin-top: 8%;
  margin-left: 20px;
  margin-right: 20px;
  
}

.llama_a_neoma{
 font-family: "Roobert-Regular";
 height: 20px;
 font-size: 4rem;
}

.imagen_contenedor_1{
  margin-left: 50px;
  height: auto;
  
}
.description_llama_neoma{
  width:50rem;
  font-family: 'Roobert-Regular';
  margin-top: 20%;
  line-height: 1.3em;
  font-size: 25px;
}

/* ------------------ */
.contenedor_2{
  display: flex;
  justify-content: space-around;
  width: 90%;
  border-radius: 40px;
  background-color: rgb(241, 234, 234);
  height: 59vh;
  margin-top: 8%;
  margin-left: 20px;
  margin-right: 20px;
}

.contenedor_3{
  display: flex;
  justify-content: space-around;
  width: 90%;
  border-radius: 40px;
  background-color: rgb(241, 234, 234);
  height: 59vh;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: -5%;
  
}

.contenedor_4{
  display: flex;
  justify-content: space-around;
  width: 90%;
  border-radius: 20px;
  background-color: rgb(241, 234, 234);
  height: 59vh;
margin-top: -5%;
  margin-left: 20px;
  margin-right: 20px;
 
}